@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');

body {
  h4 { font-weight: 300;
    @include breakpoint(small down) {

    }
  }
  p {
    @include breakpoint(small down) {
      font-size: rem-calc(12);
    }
    > small { font-size: rem-calc(14);
      @include breakpoint(small down) {
        font-size: rem-calc(12);
      }
    }
  }
  .button {
    &.submit {
      position: relative;
      padding-left: rem-calc(64);
      padding-right: rem-calc(64);
      background-color: $mdm;
      @include transition(all 0.25s ease-out);
      @include custom-radius(rem-calc(4));
      overflow: hidden;
      text-transform: uppercase;
      font-size: rem-calc(18);

      @include breakpoint(small down) {
        padding-left: rem-calc(45);
        padding-right: rem-calc(45);
        font-size: rem-calc(15);
      }

      &:hover, &:focus {
        background-color: scale-color($mdm, $lightness: -14%);
      }

      input[type="submit"] {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        font-size: rem-calc(5000);
        @include opacity(0);
        z-index: 2;
        cursor: pointer;
      }
    }
  }
}

.thin {
  font-weight: 300;
}

.mdm-logo {
  position: relative;
  display: block;
  margin-top: rem-calc(45);
  margin-left: auto;
  margin-right: auto;
  @include full-image;
  background-image: url("../img/mdm-logo.png");
  background-repeat: no-repeat;
  max-width: rem-calc(250);
  width: 100%;

  @include breakpoint(736px down) {
    margin-top: rem-calc(45 / 2);
    max-width: rem-calc(250 / 2);
  }

  &:before {
    position: relative;
    display: block;
    content: "";
    @include calc(padding-bottom, "705 / (1374 / 100) * 1%");
    width: 100%;
  }
}

#hero, #enter {
  position: relative;
  @include full-image;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  overflow: hidden;
}

.arrow {
  @include horizontal-center;
  bottom: rem-calc(10);
  @include css-triangle(rem-calc(20), $white, down);
  border-top-width: rem-calc(35);
  z-index: 2;

  @include breakpoint(medium down) {
    @include css-triangle(rem-calc(10), $white, down);
    border-top-width: rem-calc(17);
    bottom: rem-calc(70);
  }
  @include breakpoint(small down) {
    bottom: rem-calc(80);
  }

  &.black {
    @include css-triangle(rem-calc(20), $black, down);
    border-top-width: rem-calc(35);

    @include breakpoint(medium down) {
      @include css-triangle(rem-calc(10), $black, down);
      border-top-width: rem-calc(17);
      bottom: rem-calc(10);}

    @include breakpoint(small down) {
      bottom: rem-calc(10);
    }
  }
}

#hero {
  background-image: url("../img/hero.jpg");

  .gradient {
    @include absolute-center;
    margin-top: rem-calc(175 / 2);
    width: 70%;
    min-width: rem-calc(450);
    height: rem-calc(240);
    background: rgba(0,0,0,0.7);
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 52%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0,0,0,0.7)), color-stop(52%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 52%, rgba(0,0,0,0) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 52%, rgba(0,0,0,0) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 52%, rgba(0,0,0,0) 100%);
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 52%, rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );

    @include breakpoint(medium down) {
      margin-top: 0;
      -ms-transform: translate(0,0);
      transform: translate(0,0);
      top: auto;
      left: 0;
      bottom: 0;
      width: 100%;
      min-width: 0;
    }
    @include breakpoint(small down) {
      bottom: rem-calc(20);

      background: rgba(0,0,0,0.7);
      background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 71%, rgba(0,0,0,0) 100%);
      background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0,0,0,0.7)), color-stop(71%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0)));
      background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 71%, rgba(0,0,0,0) 100%);
      background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 71%, rgba(0,0,0,0) 100%);
      background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 71%, rgba(0,0,0,0) 100%);
      background: radial-gradient(ellipse at center, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 71%, rgba(0,0,0,0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
    }
  }

  h1 { @include absolute-center;
    margin-top: rem-calc(175 / 2);
    padding-left: rem-calc(40);
    padding-right: rem-calc(40);
    color: $white;
    width: 100%;

    @include breakpoint(medium down) {
      margin-top: 0;
      padding-left: rem-calc(20);
      padding-right: rem-calc(20);
      -ms-transform: translate(0,0);
      transform: translate(0,0);
      top: auto;
      left: 0;
      bottom: rem-calc(50 + 40);
    }
    @include breakpoint(small down) {
      bottom: rem-calc((50 + 150) / 2);
    }
  }
}

#enter {
  background-image: url("../img/form.jpg");

  @include breakpoint(736px down) {
    padding-top: rem-calc(40);
    padding-bottom: rem-calc(40);
  }
  @include breakpoint(414px down) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.fw {
  @include absolute-center;
  padding-top: rem-calc(60);
  padding-left: rem-calc(90);
  padding-right: rem-calc(90);
  background: rgba($white, .9);
  width: 100%;

  @include breakpoint(medium down) {
    padding-left: rem-calc(40);
    padding-right: rem-calc(40);
    @include calc(width, "100% - 120px");
  }

  @include breakpoint(736px down) {
    position: relative;
    padding-top: rem-calc(60 / 2);
    padding-left: rem-calc(10);
    padding-right: rem-calc(10);
    top: 0;
    left: 0;
    -ms-transform: translate(0,0);
    transform: translate(0,0);
    @include calc(width, "100% - 120px / 2");
  }

  @include breakpoint(414px down) {
    @include absolute-center;
    margin-top: 0;
    margin-bottom: 0;
  }

  input {
    &[type="text"], &[type="number"], &[type="email"], &[type="tel"] {
      padding-top: rem-calc(10);
      padding-bottom: rem-calc(10);
      height: rem-calc(50);

      @include breakpoint(small down) {
        margin-bottom: rem-calc(10);
        padding-top: rem-calc(5);
        padding-bottom: rem-calc(5);
        height: rem-calc(34);
        border-width: rem-calc(1);
        font-size: rem-calc(12);
      }
    }
  }
  form {
    margin-bottom: rem-calc(15);

    @include breakpoint(medium down) {
      margin-bottom: rem-calc(40);
    }
    @include breakpoint(small down) {
      margin-bottom: rem-calc(40 / 2);
    }
    + p {
      a { color: $black;
        text-decoration: underline;
      }
    }
  }

}

#details {
  position: relative;
  padding-top: rem-calc(120);
  padding-bottom: rem-calc(120 - 15);

  @include breakpoint(small down) {
    padding-top: rem-calc(120 / 2);
    @include calc(padding-bottom, "(120px - 15px) / 2");
  }

  h2 { margin-bottom: rem-calc(50);
    @include breakpoint(small down) {
      margin-bottom: rem-calc(50 / 2);
    }
  }
}

.icons {
  margin-left: 0;
  margin-top: rem-calc(110);
  list-style-type: none;

  @include breakpoint(small down) {
    margin-top: rem-calc(60);
  }

  > li {
    &:not(:nth-child(3)) {
      position: relative;
      display: inline-block;
      width: rem-calc(120);
      @include full-image;
      background-position: center center;
      background-repeat: no-repeat;

      @include breakpoint(medium down) {
        width: rem-calc(200);
      }
      @include breakpoint(medium down) {
        width: 40%;
      }

      &:before {
        position: relative;
        display: block;
        content: "";
        width: 100%;
      }
    }

    &:not(:nth-child(1)):not(:nth-child(3)) {
      margin-left: rem-calc(40);

      @include breakpoint(medium down) {
        margin-left: auto;
      }
    }

    &:nth-child(1) {
      background-image: url("../img/icon-1.jpg");
      &:before {
        @include calc(padding-bottom, "225 / (227 / 100) * 1%");
      }
    }
    &:nth-child(2) {
      background-image: url("../img/icon-2.jpg");
      @include breakpoint(medium down) {
        margin-left: rem-calc(80) !important;
      }
      @include breakpoint(small down) {
        margin-left: rem-calc(40) !important;
      }

      &:before {
        @include calc(padding-bottom, "225 / (225 / 100) * 1%");
      }
    }

    &:nth-child(3) {
      display: none;
      @include breakpoint(medium down) {
        display: block;
        height: rem-calc(60);
        width: 100%;
        background-color: transparent;
      }

      @include breakpoint(small down) {
        height: rem-calc(60 / 2);
      }
    }

    &:nth-child(4) {
      background-image: url("../img/icon-3.jpg");
      &:before {
        @include calc(padding-bottom, "229 / (226 / 100) * 1%");
      }
    }
    &:nth-child(5) {
      background-image: url("../img/icon-4.jpg");
      @include breakpoint(medium down) {
        margin-left: rem-calc(80) !important;
      }
      @include breakpoint(small down) {
        margin-left: rem-calc(40) !important;
      }

      &:before {
        @include calc(padding-bottom, "229 / (226 / 100) * 1%");
      }
    }

    h4 { @include horizontal-center;
      top: rem-calc(-45);
      white-space: nowrap;

      @include breakpoint(small down) {
        top: rem-calc(-45 / 2);
      }
    }
  }
}

.overlay {
  position: fixed;
  display: block;
  @include full-image;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  background-image: url("../img/thanks.jpg");
  overflow-y: scroll;
  z-index: 100;

  &.visible { display: block;}
}
.frame {
  @include absolute-center;
  padding-top: rem-calc(35);
  max-width: rem-calc(600);
  width: 100%;
  background: rgba($white, .9);

  @include breakpoint(736px down) {
    @include calc(width, "100% - 120px / 2");
  }

  h2 {
    + p {
      margin-bottom: rem-calc(40);

      @include breakpoint(736px down) {
        padding-left: rem-calc(20);
        padding-right: rem-calc(20);
        margin-bottom: rem-calc(40 / 2);
      }
    }
  }

  p { max-width: rem-calc(400);
    margin-left: auto;
    margin-right: auto;
  }
}

.socials {
  margin-left: 0;
  list-style-type: none;
  li {
    display: inline-block;
    margin-bottom: 0;
    @include transition(all 0.25s ease-out);

    &:hover {
      @include opacity(.8);
    }

    &:first-child {
      margin-right: rem-calc(40);
    }
  }
  a {
    display: inline-block;
  }
  span {
    display: block;
    width: rem-calc(60);
    @include full-image;
    background-repeat: no-repeat;
    background-position: top left;

    &:before {
      position: relative;
      display: block;
      content: "";
      width: 100%;
      @include calc(padding-bottom, "60 / (60 / 100) * 1%");
    }
    &.facebook {
      background-image: url("../img/facebook.jpg");
    }
    &.twitter {
      background-image: url("../img/twitter.jpg");
    }
  }

 + p { margin-bottom: rem-calc(5);
   a { color: $black;
     text-decoration: underline;
     &:hover, &:focus {
       text-decoration: none;
     }
   }
 }
}

.checkers { margin-top: rem-calc(10);
  margin-bottom: rem-calc(10);

  .check-wrapper { position: relative;
    display: inline-block;
    padding-left: rem-calc(26);

    @include breakpoint(small down) {
      padding-left: rem-calc(20);
    }
    label {
      margin-bottom: rem-calc(13);
      font-size: rem-calc(16);
      line-height: 1.2;
      color: $black;
      font-weight: 300;

      &.is-invalid-label {
        color: $alert-color;
      }

      @include breakpoint(small down) {
        font-size: rem-calc(12);
      }
    }
  }
  fieldset {
    .icheckbox { position: absolute;
      display: block;
      width: rem-calc(20);
      height: rem-calc(20);
      border: rem-calc(2) solid $medium-gray;
      @include custom-radius(50%);
      @include transition(all 0.25s ease-out);
      left: 0;
      top: rem-calc(1);

      @include breakpoint(small down) {
        width: rem-calc(12);
        height: rem-calc(12);
        border-width: rem-calc(1);
        top: rem-calc(2);
      }
      &:before { @include absolute-center;
        content: "";
        width: rem-calc(10);
        height: rem-calc(10);
        background-color: $black;
        @include custom-radius(50%);
        @include opacity(0);
        @include transition(all 0.25s ease-out);

        @include breakpoint(small down) {
          width: rem-calc(6);
          height: rem-calc(6);
        }
      }
      &.checked {
        &:before { @include opacity(1);}
      }
    }
  }
}

.noscroll {
  overflow: hidden;
}

.phperror {
  color: $alert-color;
  margin-bottom: rem-calc(10);
  font-size: rem-calc(16);
  font-weight: 700;
  text-align: center;
}

.terms {
  h1 {
    margin-top: rem-calc(100);
    margin-bottom: rem-calc(30);
  }
  ol { margin-bottom: rem-calc(30);}
  li { margin-bottom: rem-calc(15);}
}


